* {
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    background-color: #ffd90f;
}
nav {
    border-radius: 20px;
}

h1 { 
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

h2 {
    font-size: 30px;
}

.sombra {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

p{
    font-size: 30px;
    text-align: left;  
}

.sinMargen {
    padding: 0;
}

@font-face {
    font-family: "Simpsonfont";
    src: url(../fonts/Simpsonfont.otf) format(opentype);
}
h2 {
    font-family: "Simpsonfont";
    color: #ffd90f;
}